<form class="form-registro"  (ngSubmit)="onSubmit(formulario)" novalidate>
  <h4>Ingresa ahora</h4>
  <input formControlName="email" class="control"  placeholder="Ingrese su Correo" required>
  <div class="error"
  *ngIf="formulario.get('email')?.hasError('required')">Please provide a valid email.</div>
  <input formControlName="password"  class="control" placeholder="Ingrese su contraseña" required
  [type]="passwordVisible ? 'text' : 'password'">
  <button class= "button" type="button" (click)="togglePasswordVisibility()">Mostrar contraseña</button>
  <input class="send-button" type="submit" [disabled]="!formulario.valid">
</form>
