html, body {
  height: 0%;
}
.navbar{
  background-size: cover;
  background-position: 0%;
  background-color: aqua;
  background-repeat: no-repeat;}
.navbar-brand{
  font-style: oblique;
  color: white
}
.nav-link{
  font-size: 18px;
  color: white;
}
.account {
  margin-right: 30px;
  font-weight: bold;
}
.btnSearch {
  margin-right: 50px;
}
// MOBILE

.side-menu {
  position: fixed;
  background: rgb(87, 8, 8) center;
  top: 0;
  left: 0px;
  bottom: 0;
  right: 0;
  display: flex;
  font-family: serif;
  flex-direction: column;
  justify-content: flex-start;
  transform: translateX(-100%);
  transition: all ease-out 0.5s;

  &.active {
    transform: translateX(0);
  }
  .button-sidemenu{
    border-radius: 10px;
    height: 100px;
    color: black;
    font-size: xx-large;
  }
  .nav-link {
    font-size: 30px;
    margin-top: 20px; /* Distancia entre cada elemento */
    color: white;
    margin: 0 auto;
    text-decoration: none; /* Para eliminar el subrayado predeterminado */
    transition: color 0.3s ease; /* Transición de cambio de color */
    padding: 0px 0px 80px /* Margen alrededor del texto */
  }

  .nav-link:hover {
    color: yellow; /* Cambio de color al pasar el ratón */
  }
}
